@import "./base.css";

#root, html, body {
  height: 100vh;
  width: 100vw;
}

#drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

#no-drag {
  -webkit-app-region: no-drag;
}
